.container {
    margin:50px 0;
}

.card {
    margin: 0 2% !important
}

.infected {
    border-bottom: 10px solid rgba(8, 236, 19, 0.5);
}
.recovered {
    border-bottom: 10px solid rgba(241, 166, 4, 0.5);
}
.deaths {
    border-bottom: 10px solid rgba(231, 15, 15, 0.5) ;
}

@media (max-width: 770px) {
.card {
    margin: 2% 0 !important;
}
}
